<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ page.title }} - Visual Designer & Photographer</title>
    <link href="/css/style.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.typekit.net/rhp5ouu.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-Bx4pytHkyTDy3aJKjGkGoHPt3tvv6zlwwjc3iqN7ktaiEMLDPqLSZYts2OjKcBx1" crossorigin="anonymous">

    <meta name="twitter:site" content="@bradyv">
    <meta name="twitter:creator" content="@bradyv">
    <meta name="twitter:title" content="Brady Valentino - Visual Designer & Photographer">
    <meta name="twitter:description" content="Visual designer & photographer living in Vancouver, BC.">
    <meta property="og:title" content="Brady Valentino - Visual Designer & Photographer" />
    <meta property="og:url" content="https://bradyvalentino.com" />
    <meta property="og:description" content="Visual designer & photographer living in Vancouver, BC." />
</head>
<body class="home">
    <main>
        {{ page.content }}
    </main>
</body>
</html>