<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ page.title | strip_html }}</title>
    <link href="/css/style.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.typekit.net/ieb1oow.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-Bx4pytHkyTDy3aJKjGkGoHPt3tvv6zlwwjc3iqN7ktaiEMLDPqLSZYts2OjKcBx1" crossorigin="anonymous">

    <meta name="twitter:site" content="@bradyv">
    <meta name="twitter:creator" content="@bradyv">
    <meta name="twitter:title" content="{{ page.title | strip_html }} - Brady Valentino">
    <meta name="twitter:description" content="{{ page.title | strip_html }} - Brady Valentino">
    <meta property="og:title" content="{{ page.title | strip_html }} - Brady Valentino" />
    <meta property="og:url" content="https://bradyvalentino.com{{ page.permalink }}" />
    <meta property="og:description" content="{{ page.excerpt }}" />
</head>
<body class="post">
    <main>
        <header>
            <a href="/" class="return"><i class="far fa-arrow-left"></i> Home</a>
            <h1 class="name">{{ page.title }}</h1>
            <time datetime="{{ page.date | date: '%Y-%m-%d' }}">{{ page.date | date: "%B %-d, %Y" }}</time>
        </header>

        <article>
            {{ page.content }}
        </article>
    </main>

    <sidebar>
        <img src="/me.jpg" alt="Brady Valentino" class="me">

        <main>
            <h1 class="name">Brady Valentino</h1>
            <h2 class="sting">{{ site.description }}</h2>

            <article>
                {{ site.bio }}
            </article>
            <section class="social">
                <a href="//twitter.com/bradyv" class="twitter"><i class="fab fa-twitter"></i><span>@bradyv</span></a>
                <a href="//instagram.com/braaady" class="instagram"><i class="fab fa-instagram"></i><span>braaady</span></a>
                <a href="//dribbble.com/bradyv" class="dribbble"><i class="fab fa-dribbble"></i><span>bradyv</span></a>
            </section>
        </main>
    </sidebar>
</body>
</html>